<!-- HEADER -->
<header role="banner">
  <nav class="mobile-nav show-on-mobiles">
    {% include primary-nav-items.html %}
  </nav>
  <div class="grid">
    <div class="unit one-third center-on-mobiles">
      <h1>
        <a class="undecorated" href="{{ site.baseurl }}/">
          <span class="sr-only">exceptions4c</span>
          <img src="{{ site.baseurl }}/img/exceptions4c.svg" width="240" height="90" alt="exceptions4c Logo">
        </a>
      </h1>
    </div>
    <nav class="main-nav unit two-thirds hide-on-mobiles">
      {% include primary-nav-items.html %}
    </nav>
  </div>
</header>
